* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
